<h4>III. Important Concept</h4>
<p style="text-align: justify;">Subgame perfect Nash equilibrium is a refinement to the concept of a Nash equilibrium (see: <a
        href="https://hammerhead-app-yndie.ondigitalocean.app/" target="_blank">The prisoner's
        dilemma game</a>). First, any <em>subgame perfect</em> Nash equilibrium of a game is also a
    <strong>Nash equilibrium</strong> of that
    game. Second, subgame perfect Nash equilibria captures the idea of “perfect recall” where players
    “remember” their past action choices as they progress through the game and use their “memories” to play
    “better” as the game progresses. That is, in a SPNE, players act like they would act in hindsight.
</p>