<h4>II. Introduction</h4>
<p style="text-align: justify;">The (N-turn) Centipede Game is an <strong>extensive form game</strong> with two players. In the first
    turn of the game,
    Player 1 and Player 2 are presented with a sum of money $. Player 1 can either choose to take, and get
    more money than Player 2, or pass. If Player 1 takes the money the game is over. If Player 1 passes, the
    sum of money is altered and now Player 2 can decide to take or pass on it. If Player 2 takes, they get
    more money than Player 1 and the game ends. If Player 2 passes, again the sum of money is altered, and
    now the second turn of the game starts. This process repeats until one of the players decides to take
    the money, or until the game runs out of N turns. If each player passes for every turn in the game, both
    players leave with an equal amount of money.</p>